
* {
  margin: 0;
  padding:0;
  box-sizing: border-box;
  font-family: 'Zilla Slab', serif;
}

body{
  background-color: #eeeeee;
}

header{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

header .image{
  width:100%;
  height: 99vh;
  position: absolute;
}

header .image img{
  width: 100%;
  height: 100%;
  opacity: .95;
}

header .nav-toggle{
   display: none;
}

header nav{
  position: relative;
  width: 100%;
  margin-top: 45px;
  background-color: rgba(0, 0, 0, 0.884);
}

header nav ul{
  width: 100%;
  padding: 10px;
  list-style-type: none;

  display: flex;
  flex-wrap: nowrap;
  justify-content: center;

}

header ul li{
  padding: 10px 35px;
}

header nav a{
  color: white;
  font-size: 20px;
  text-decoration: none;
}

header nav a:hover{
  font-size: 21px;
}

header .slogan{
  width: 60%;
  position: relative;
  margin-top: 5%;
  
  text-align: center;
  color: white;
  border-radius: 15px;
  
}

header .slogan h1{
  font-size: 45px;
  margin-bottom: 25px;
}

header .slogan img{
  width: 100%;
  border-radius: 15px;
  box-shadow: -1px 2px 21px 17px rgba(0,0,0,0.75);
}

.main{
  width: 100%;
  position: static;
  margin-top: 9%;
  display: flex;
  
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
}

.main .sobre-me{
  width: 80%;
}


.sobre-me .sections{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.sobre-me  .section-outside:hover{
  box-shadow: -2px 1px 39px 20px rgba(0,0,0,0.75);
}

.sobre-me .section-outside{
  background-color: white;
  border-radius: 5px;
  text-align: center;
  box-shadow: -2px 1px 39px 1px rgba(0,0,0,0.75);
  padding: 10px 20px;
}
.sobre-me .section-outside span{
  font-size: 35px;
}

.sobre-me .content-image{
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: center;
  margin: 20px 0px;
}

.sobre-me .image-me{
  width: 50%;
  background-image: url("../media/foto-sobre-me.jpg");
  background-attachment: fixed;
  background-position: center;
  margin-top: 20px;
}


.sections section{
  width: 45%;
  background-color: white;
  flex-grow: 1;
  margin: 15px;
  border-radius: 5px;
  padding: 10px 20px;
  box-shadow: -2px 1px 39px 1px rgba(0,0,0,0.75);
}

.sobre-me .sections section:hover{
  box-shadow: -2px 1px 39px 20px rgba(0,0,0,0.75);
}

.sections span{
  font-size: 35px;
  text-align: center;
}

.conocimientos{
  width: 90%;
}

.conocimientos .content{
  width: 100%;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  margin-bottom: 40px;
}

.conocimientos .content section{
  width: 29%;
  background-color: white;
  border-radius: 10px;
  padding: 20px 10px;
  text-align: center;
  margin: 10px;
  box-shadow: -2px 1px 39px 1px rgba(0,0,0,0.75);
}

.conocimientos .content section:hover{
  box-shadow: -2px 1px 39px 20px rgba(0,0,0,0.75);
}


.conocimientos .content .image-title{
  width: 20%;
}

.conocimientos .content section p{
  font-style: italic;
  font-size: 16px;
  padding: 4px 0px;
}

.proyectos{
  width: 80%;
}

.main-title{
  text-shadow: 1px 2px 7px ;
}

.proyectos .row{
  width: 100%;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.proyectos .row .card{
  flex-basis: 44%;
  background-color: white;
  padding-bottom: 20px;
  margin: 20px;
  border-radius: 5px;
  box-shadow: -2px 1px 39px 1px rgba(0,0,0,0.75);

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.proyectos .row .card:hover{
  box-shadow: -2px 1px 39px 20px rgba(0,0,0,0.75);
}

.proyectos .row .img-card{
  width: 100%;
}

.proyectos .row .card p{
  padding: 0px 20px;
}

.proyectos .row .img-card img{
  width: 100%;
  height: 190px;
  border-radius: 10px;
}

.proyectos .row .cardTitle{
  margin: 20px 0px;
  background-color: rgba(203, 209, 203, 0.274);
  border-radius: 5px;
}

.proyectos .row .card-description{

  color: rgb(124, 116, 116);
  font-size: 13px;
  padding: 5px;
  text-align: left;
  margin-bottom: 20px;
}

.proyectos .row .card-buttons{
  width: 100%;
  display: flex;
}

.proyectos .row .card-buttons a,
.proyectos .row .card-buttons button
{
  margin: 0 5px;
  flex: auto;
}



.proyectos .row .card .bt-play{
  cursor: pointer;
}


.show-infixed{
  display: none;
}

.show-fixed{
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.9);
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
 .show-fixed .content-btn{
  width: 100%;
  display: flex;
  padding: 10px 40px 40px 40px;
  justify-content: center;
 }

 .show-fixed .content-btn button{
  width: 200px;
  max-height: 120px;
  font-size: 20px;
  background-color: lime;
  border-radius: 30px;
  cursor: pointer;
 }


 .contactame {
   width: 80%;
   text-align: center;
   margin-bottom: 100px;
 }
 
 .medios {
   width: 100%;
   background-color: white;
   padding: 20px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   flex-wrap: nowrap;
   box-shadow: -2px 1px 39px 1px rgba(0,0,0,0.75);
   border-radius: 5px;
 }

 .medios:hover{
    box-shadow: -2px 1px 39px 20px rgba(0,0,0,0.75);
  }

 .contactame .contacto-title{
   font-size: 2.5rem;
 }

 .contactame .contacto-item{
   border-radius: 5px;
   padding: 10px 0px;
   margin: 0;
   flex-grow: 1;
   color: black;
 }


 .contactame .contacto-item a,
 .contactame .contacto-item
 {
   text-decoration: none;
   color: black;
   font-size: 1.3rem;
 }

 footer{
  width: 100%;
  bottom: 0;
  background-color: black;
  color: white;
  text-align: center;
  padding: 20px 0px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer .footer-logo{
  width: 40%;
  background-color: white;
  margin-bottom:20px ;
  border-radius: 5px;
  box-shadow: -2px 1px 39px 1px rgba(255,255,255,0.65);
}

footer .footer-logo img{
  width: 100%;
}

